<div class="ui container" style="margin-top: 5em;">
    <div class="ui message attached">
        <div class="header">Ajouter une espèce</div>
    </div>

    <form class="ui form attached fluid segment">
        <div class="field eight wide"><label>Classification :</label>
            <div class="ui dropdown search selection additions"><input name="classification" type="hidden"
                    value="{{.ID}}"><i class="dropdown icon"></i>
                <div class="default text">Classification</div>
                <div class="menu">
                    {{range .Classifications}}
                    <div class="item" data-value="{{.ID}}">{{.Nom}}</div>
                    {{end}}
                </div>
            </div>
        </div>
        <div class="fields">
            <div class="field five wide"><label>Genre :</label>
                <div class="ui dropdown search selection additions"><input name="genre" type="hidden"><i
                        class="dropdown icon"></i>
                    <div class="default text">genre</div>
                    <div class="menu">
                        {{range .AllGenres}}
                        <div class="item">{{.}}</div>
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="field five wide"><label>Sous-genre :</label>
                <div class="ui dropdown search selection additions"><input name="sous_genre" type="hidden"><i
                        class="dropdown icon"></i>
                    <div class="default text">sous-genre</div>
                    <div class="menu">
                        {{range .AllSousGenres}}
                        <div class="item">{{.}}</div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
        <div class="fields">
            <div class="field five wide"><label>Espèce :</label>
                <div class="ui dropdown search selection additions"><input name="espece" type="hidden"><i
                        class="dropdown icon"></i>
                    <div class="default text">espèce</div>
                    <div class="menu">
                        {{range .AllEspeces}}
                        <div class="item">{{.}}</div>
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="field five wide"><label>Ssp :</label>
                <div class="ui dropdown search selection additions"><input name="sous_espece" type="hidden"><i
                        class="dropdown icon"></i>
                    <div class="default text">ssp</div>
                    <div class="menu">
                        {{range .AllSousEspeces}}
                        <div class="item">{{.}}</div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
        <div class="field four wide"><label>Descripteur :</label>
            <div class="ui input"><input name="descripteur" type="text" placeholder="Descripteur, Année..."></div>
        </div><button id="cancel" class="ui button" type="button">Annuler</button><button class="ui button primary"
            type="submit">Valider</button>
    </form>

    {{with .Error}}
    <div class="ui bottom message attached error">{{.}}</div>
    {{end}}
</div>