<div class="ui container" style="margin-top: 5em;">
    {{if .Admin}}
    <button id="add-espece" class="ui button primary right floated">Ajouter une espèce</button>
    <button id="add-classification" class="ui button primary right floated">Ajouter une classification</button>
    {{end}}
    <h3>{{printf "%d espèces." .Nb}}</h3>
    <ul>
        {{$admin := .Admin}}
        {{range .Classifications}}
        {{if $admin}}
        <a class="classification" href="#" data-id="{{.ID}}">{{.Nom}}</a>
        {{else}}
        <li class="classification">{{.Nom}}</li>
        {{end}}
        <ul>
            {{range .Especes}}
            <li>
                <a class="espece" href="#" data-id="{{.ID}}">{{.NomEspece}}</a> <span>{{.Descripteur}}</span>
            </li>
            {{end}}
        </ul>
        {{end}}
    </ul>
</div>