{{if .Admin}}
<div class="buttons is-right mt-2 mr-2">
    <button id="add-classification" class="button is-primary">Ajouter une classification</button>
    <button id="add-espece" class="button is-primary">Ajouter une espèce</button>
</div>
{{end}}
<section class="section">
    <h1 class="title">Espèces</h1>
    <h2 class="subtitle">{{printf "%d espèces." .Nb}}</h2>
    <div class="content">
        <ul>
            {{range .Classifications}}
            <li><span class="classification">{{.Nom}}</span>
                <ul>
                    {{range .Especes}}
                    <li>
                        <a class="espece" href="#" data-id="{{.ID}}">{{.NomEspece}}</a> <span>{{.Descripteur}}</span>
                    </li>
                    {{end}}
                </ul>
            </li>
            {{end}}
        </ul>
    </div>
</section>