<section class="section">
    {{if .Edit}}
    <h1 class="title">Ajouter/Modifier une donnée</h1>
    <div class="container">
        <form id="formIndividu">
            <div class="field">
                <label class="label">Date</label>
                <div class="control">
                    <input name="date" class="input" type="date" value='{{.Individu.Date.Format "2006-01-02"}}'>
                </div>
            </div>
            <div class="field">
                <label class="label">Genre/Espèce</label>
                <div class="control select">
                    {{$especeID := .Individu.Espece.ID}}
                    <select name="espece" class="ui selection dropdown">
                        {{range .Especes}}
                        <option value="{{.ID}}" {{if (eq .ID $especeID)}}selected="selected" {{end}}>{{.NomEspece}}
                        </option>
                        {{end}}
                    </select>
                </div>
            </div>
            <div class="field">
                <label class="label">Sexe</label>
                <div class="control">
                    <label class="radio">
                        <input name="sexe" type="radio" value="M" {{if (eq .Individu.Sexe "M" )}}checked{{end}} />
                        Mâle
                    </label>
                    <label class="radio">
                        <input name="sexe" type="radio" value="F" {{if (eq .Individu.Sexe "F" )}}checked{{end}} />
                        Femelle
                    </label>
                </div>
            </div>
            <div class="field">
                <label class="label">Site</label>
                <input name="site" list="sites" class="input" type="text" value="{{.Individu.Site}}" />
                <datalist id="sites">
                    {{range .Sites}}
                    <option value="{{.}}">
                        {{end}}
                </datalist>
            </div>
            <div class="field">
                <label class="label">Commune</label>
                <div class="control">
                    <input name="commune" list="communes" class="input" type="text" value="{{.Individu.Commune}}"
                        readonly />
                    <datalist id="communes">
                        {{range .Communes}}
                        <option value="{{.}}">
                            {{end}}
                    </datalist>
                </div>
            </div>
            <div class="field">
                <label class="label">Département</label>
                <div class="control">
                    <input name="code" list="departements" class="input" type="text" value="{{.Individu.Code}}"
                        readonly />
                    <datalist id="departements">
                        {{range .Departements}}
                        <option value="{{.Code}}">
                            {{end}}
                    </datalist>
                </div>
            </div>
            <div class="field">
                <label class="label">Plan</label>
                <div class="control">
                    <div id="mapedit" style="margin-top: 10px; width: 100%; height: 450px"></div>
                </div>
            </div>
            <div class="field">
                <label class="label">Latitude</label>
                <div class="control">
                    <input name="latitude" type="text" class="input" value="{{.Individu.Latitude}}" />
                </div>
            </div>
            <div class="field">
                <label class="label">Longitude</label>
                <div class="control">
                    <input name="longitude" type="text" class="input" value="{{.Individu.Longitude}}" />
                </div>
            </div>
            <div class="field">
                <label class="label">Altitude</label>
                <div class="control">
                    <input name="altitude" type="text" class="input" value="{{.Individu.Altitude.Int64}}" />
                </div>
            </div>
            <div class="field">
                <label class="label">Récolteur</label>
                <div class="control">
                    <input name="recolteur" list="recolteurs" type="text" class="input"
                        value="{{.Individu.Recolteur}}" />
                    <datalist id="recolteurs">
                        {{range .Recolteurs}}
                        <option value="{{.}}">
                            {{end}}
                    </datalist>
                </div>
            </div>
            <div class="field">
                <label class="label">Conditions de capture</label>
                <div class="control">
                    <textarea name="commentaire" class="textarea" rows="2">{{.Individu.Commentaire.String}}</textarea>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button id="validation" class="button is-link">Valider</button>
                </div>
                <div class="control">
                    <button id="cancel" class="button is-link is-light">Annuler</button>
                </div>
            </div>
        </form>

        {{with .Error}}
        <div class="ui bottom message attached error">{{.}}</div>
        {{end}}
        <div style="margin-bottom: 10em"></div>
    </div>
    {{else}}

    {{if .Delete}}
    <div class="ui modal small">
        <i class="icon close"></i>
        <div class="header">{{.Individu.Espece.NomEspece}}</div>
        <div class="content">
            <p>Supprimer cette donnée ?</p>
        </div>
        <div class="actions">
            <div id="cancel-delete" class="ui deny button">Non</div>
            <div id="confirm-delete" class="ui red right approve button">Oui</div>
        </div>
    </div>
    {{else}}
    {{with .Individu}}
    <h1 class="title">{{.Espece.NomEspece}}</h1>
    <div class="container">
        <table>
            <tr>
                <td class="label">Date :</td>
                <td class="value">{{.Date.Format "02/01/2006"}}</td>
            </tr>
            <tr>
                <td class="label">Sexe :</td>
                <td class="value">{{if (eq .Sexe "M")}}Mâle{{else}}Femelle{{end}}
                </td>
            </tr>
            <tr>
                <td class="label">Site :</td>
                <td class="value">{{.Site}}</td>
            </tr>
            <tr>
                <td class="label">Commune :</td>
                <td class="value">{{.Commune}}</td>
            </tr>
            <tr>
                <td class="label">Département :</td>
                <td class="value">{{.Departement.Nom}} ({{.Code}})</td>
            </tr>
            <tr>
                <td class="label">Altitude :</td>
                <td class="value">{{.Altitude.Int64}}m</td>
            </tr>
            <tr>
                <td class="label">Récolteur :</td>
                <td class="value">{{.Recolteur}}</td>
            </tr>
            <tr>
                <td class="label">Conditions :</td>
                <td class="value">{{.Commentaire.String}}</td>
            </tr>
        </table>
        <div id="mappreview" style="margin: 10px; width: 60%; height: 400px"></div>
        {{end}}

        <div class="buttons">
            <button id="cancel" class="button is-light">Fermer</button>
            {{if .Admin}}
            <button id="edit" class="button is-primary">Modifier</button>
            <button id="delete" class="button is-danger">Supprimer</button>
            {{end}}
        </div>
    </div>

    {{end}}
    {{end}}
</section>