<div class="ui inverted fixed menu">
  <div class="header item">
    <img src="images/icon.png" />
    <p data-position="bottom" data-tooltip="v24.04.2 ©2024 Régis Verpillot" data-variation="basic">Coleoptera</p>
  </div>
  {{range .Items}}
  <a class="item menu-item {{if .Active}}active teal{{end}}" data-id="{{.Name}}">{{.Label}}</a>
  {{end}}
  <div class="right menu">{{if .Connected}}<a id="disconnect" class="item">Déconnexion</a>{{else}}<a id="connect" class="item">Connexion</a>{{end}}</div>
</div>
