<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
    <div class="navbar-item">
        <img src="images/icon.png">
    </div>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarColeoptera">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarColeoptera" class="navbar-menu">
    <div class="navbar-start">
        {{#Items}}
        <a class="navbar-item {{#Active}}is-selected{{/Active}}" data-id="{{Name}}">{{Label}}</a>
        {{/Items}}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{#Connected}}
          <a id="disconnect" class="button"><strong>Déconnexion</strong></a>
          {{/Connected}}
          {{^Connected}}
          <a id="connect" class="button"><strong>Connexion</strong></a>
          {{/Connected}}
        </div>
      </div>
    </div>
  </div>
</nav>

<div id="especes"></div>
<div id="individus"></div>
<div id="plan"></div>